@page
@model IndexModel
@{
    ViewData["Title"] = "Users";
}

<h1>@ViewData["Title"]</h1>

<table class="ui celled striped table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td data-label="Id">@user.Id</td>
                <td data-label="Name">@user.Name</td>
                <td data-label="Email">@user.Email</td>
                <td data-label="Actions">
                    <a rel="view-item" href="">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>

