@page
@model IndexModel
@{
    ViewData["Title"] = "Comments";
}

<h1>@ViewData["Title"]</h1>

@foreach (var comment in Model.Comments)
{
    <div id="@comment.CommentId" class="ui segment">
        <div>@comment.Text</div>
        <footer>
            <a rel="view-item" href="">View</a>
        </footer>
    </div>
}
