@page
@model IndexModel
@{
    ViewData["Title"] = "Categories";
}

<h1>@ViewData["Title"]</h1>

<table class="ui celled striped table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Total Articles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td data-label="Id">@category.Id</td>
                <td data-label="Description">@category.Description</td>
                <td data-label="Total Articles">@category.TotalArticles</td>
                <td data-label="Actions">
                    <a rel="view-item" href="">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>

