<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewData["Title"] | Semantic-Blog</title>
    <link rel="stylesheet" href="~/lib/fomantic-ui/semantic.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="ui container basic segment">
        <nav class="ui secondary stackable pointing menu">
            <a class="active item" asp-area="" asp-page="/Index">Semantic-Blog</a>
            <a class="item" asp-area="" asp-page="/Index">Home</a>
            <a class="item" asp-area="" asp-page="/Articles/Index">Articles</a>
            <a class="item" asp-area="" asp-page="/Categories/Index">Categories</a>
            <a class="item" asp-area="" asp-page="/Comments/Index">Comments</a>
            <a class="item" asp-area="" asp-page="/Users/Index">Users</a>
            <a class="item" asp-area="" asp-page="/Privacy">Privacy</a>
        </nav>
    </header>

    <main role="main" class="ui container">
        @RenderBody()
    </main>

    <footer class="ui container segment">
        &copy; 2021 | Semantic-Blog
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/fomantic-ui/semantic.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
